/*
  Icon Font: vins
*/

@font-face {
  font-family: "vins";
  src: url("./vins.eot");
  src: url("./vins.eot?#iefix") format("embedded-opentype"),
       url("./vins.woff") format("woff"),
       url("./vins.ttf") format("truetype"),
       url("./vins.svg#vins") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "vins";
    src: url("./vins.svg#vins") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-bouteille:before,
.icon-mouts:before,
.icon-raisins:before,
.icon-vrac:before {
  display: inline-block;
  font-family: "vins";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-bouteille:before { content: "\f100"; }
.icon-mouts:before { content: "\f101"; }
.icon-raisins:before { content: "\f102"; }
.icon-vrac:before { content: "\f103"; }

.switch {
 position: relative;
 display: inline-block;
 width: 30px;
 height: 17px;
}

.switch-xl {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25.5px;
}


.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

.switch-xl input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 13px;
 width: 13px;
 left: 2px;
 bottom: 2px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider-xl {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-xl:before {
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19.5px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
 background-color: #5cb85c;
}

input:focus + .slider {
 box-shadow: 0 0 1px #5cb85c;
}

input:checked + .slider:before {
 -webkit-transform: translateX(13px);
 -ms-transform: translateX(13px);
 transform: translateX(13px);
}

input:checked + .slider-xl {
  background-color: #5cb85c;
}

input:focus + .slider-xl {
  box-shadow: 0 0 1px #5cb85c;
}

input:checked + .slider-xl:before {
  -webkit-transform: translateX(19.5px);
  -ms-transform: translateX(19.5px);
  transform: translateX(19.5px);
}

.slider.round {
 border-radius: 17px;
}

.slider.round:before {
 border-radius: 50%;
}

.slider-xl.round {
  border-radius: 25.5px;
}

.slider-xl.round:before {
  border-radius: 50%;
}
