@import '../components/bootstrap/css/bootstrap.min.css';
@import '../css/lib/select2/select2.css';
@import '../css/lib/select2/select2-bootstrap.css';
@import '../css/bootstrap-datetimepicker.min.css';
@import '../css/style_commun.css';
