@charset "utf-8";

/* =================================================================================== 
 * Fichier : print.css
 * Description : Print styles
 * Auteur : Hamza Iqbal - hiqbal[at]actualys.com
 *			Mikaël Guillin - mguillin[at]actualys.com
 * Copyright: Actualys
/* =================================================================================== */

@page {size: 21.0cm 29.7cm portrait; margin-top:1.5cm;
        margin-bottom:1cm;
        margin-left:0.5cm;
        margin-right:0.5cm}

/* ============================================================= */
/* ELEMENTS GENERIQUES */
/* ============================================================= */
*
{
	color: #000 !important;
	box-shadow: none !important;
	text-shadow: none !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

abbr[title]:after
{
	content: " (" attr(title) ")";
}

thead { display: table-header-group; }

pre,
blockquote,
tr,
img { page-break-inside: avoid; }

h2,
h3 { page-break-after: avoid; }

img
{
	max-width: 100% !important;
}

/* ============================================================= */
/* ELEMENTS CACHES */
/* ============================================================= */
#colonne,
#header,
#footer,
#carte,
.row-button,
.btn-group 
{
	display: none !important;
}



/* ============================================================= */
/* ELEMENTS AFFICHES */
/* ============================================================= */
.bloc_onglets .contenu
{
	display: block !important;
}

#header h1
{    
	clip: rect(auto);
	position: static !important;
}


/* ============================================================= */
/* STRUCTURE */
/* ============================================================= */
.gabarit { width: auto; }

body
{
	height: auto;
	padding: 20px;
}


/* ============================================================= */
/* FONDS / COULEURS */
/* ============================================================= */
body { background: 0 !important; }

.lead {
    font-size: 115% !important;
}

input.input-lg {
    font-size: 100% !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    height: auto !important;
}

.ng-hide.visible-print-block {
    display: block !important;
}

.hidden.visible-print-block {
    display: block !important;
}

.hidden.visible-print-inline {
    display: inline !important;
}

.ng-hide.visible-print-inline {
    display: inline !important;
}

.hidden.visible-print-inline-block {
    display: inline-block !important;
}

.ng-hide.visible-print-inline-block {
    display: inline-block !important;
}

section.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

.print-bigger {
    font-size: 110% !important;
}

.print-margin-bottom {
    margin-bottom: 4px !important;
}

.print-page-header {
    margin-top: 0px !important;
    margin-bottom: 4px !important;
}

h2, h3 {
    margin-top: 0 !important;
    font-size: 110% !important;
}

.print-list-group-condensed a {
    padding-top: 2px;
    padding-bottom: 3px;
}

.panel.panel-primary {
	background: 0 !important;
}

