@charset "utf-8";

/* =================================================================================== 
 * Fichier : print.css
 * Description : Print styles
 * Auteur : Hamza Iqbal - hiqbal[at]actualys.com
 *			Mikaël Guillin - mguillin[at]actualys.com
 * Copyright: Actualys
/* =================================================================================== */

@page {size: 21.0cm 29.7cm portrait; margin-top:1.5cm;
        margin-bottom:1cm;
        margin-left:0.5cm;
        margin-right:0.5cm}

/* ============================================================= */
/* ELEMENTS GENERIQUES */
/* ============================================================= */
*
{
	color: #000 !important;
	box-shadow: none !important;
	text-shadow: none !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

abbr[title]:after
{
	content: " (" attr(title) ")";
}

thead { display: table-header-group; }

pre,
blockquote,
tr,
img { page-break-inside: avoid; }

h2,
h3 { page-break-after: avoid; }

img
{
	max-width: 100% !important;
}

/* ============================================================= */
/* ELEMENTS CACHES */
/* ============================================================= */
#colonne
{
	display: none !important;
}


/* ============================================================= */
/* ELEMENTS AFFICHES */
/* ============================================================= */
.bloc_onglets .contenu
{
	display: block !important;
}

#header h1
{    
	clip: rect(auto);
	position: static !important;
}


/* ============================================================= */
/* STRUCTURE */
/* ============================================================= */
.gabarit { width: auto; }

body
{
	height: auto;
	padding: 20px;
}


/* ============================================================= */
/* FONDS / COULEURS */
/* ============================================================= */
body { background: 0 !important; }

.ng-hide.visible-print-block {
    display: block !important;
}

.hidden.visible-print-block {
    display: block !important;
}

.hidden.visible-print-inline {
    display: inline !important;
}

.ng-hide.visible-print-inline {
    display: block !important;
}

.opacity_50 {
    opacity: 0.60;
}

section.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}


