body {
    background: #fff;
}


#header {
    background: #f8f8f8;
}

#menu_navigation {
    margin-bottom: 0;
}

#menu_navigation .container {
    padding-left: 0;
    padding-right: 0;
}

#menu_navigation ul.navbar-nav li a {
    font-size: 17px;
    color: #9f0038;
}

#menu_navigation ul.navbar-nav li#nav_item_operateur.disabled {
    opacity: 0.3;
}

#menu_navigation ul.navbar-nav li a {
    /*border-top: 6px solid #f4ecf1;*/
}

#menu_navigation ul.navbar-nav li.active a {
    background: #fff !important;
    border-bottom: 6px solid #9f0038;
}

a, .btn-link {
    color: #9f0038;
}

a:hover {
    color: #80002d;
}

#header .container {
    padding: 0;
}

#content {
    background: #fff;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 2px;
}

#menu_navigation {
    background: #fff;
}

.page-header {
    margin-top: 15px;
}

h2 {
    font-size: 26px;
}

h2, h3 {
    margin-top: 0px;
}

h3 {
    font-size: 22px;
}

.page-header h2 {
    margin-bottom: 0px;
}

.breadcrumb {
    background: #fdf9fa;
    border: 1px solid #ffe9ef;
}

.btn-primary {
    background: #9f0038;
    border-color: #9f0038;
}

.bg-primary {
    background: #9f0038;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #82002e;
    border-color: #82002e;
}
.panel-primary {
    border-color: #9f0038;
}
.panel-primary .panel-heading {
    border-color: #9f0038;
    background: #9f0038;
}

.list-group-item.active, .list-group-item.active:hover {
    background: #9f0038;
    border-color: #9f0038;
}

.list-group-item.active-bordered {
    border-left: 6px solid #9f0038 !important;
}

.panel-primary-bordered-right {
    border-right: 6px solid #9f0038;
}

.list-group-item.active a {
    color: inherit;
}

.list-group-item.active .text-muted {
    color: inherit;
}

.list-group-item.active .badge {
    color: #9f0038;
}

.label-primary {
    background: #9f0038;
}

.nav-step {
    background: #fff;
    border: none;
    counter-reset: steps;
    border-bottom: 1px solid #80002d;
    font-size: 14px;
}

.nav-step ul.navbar-nav li, .nav-step ul.navbar-nav li:hover {
    background: #c36d7f ;
    border-top: 1px solid #80002d;
    position: relative;
    top: 1px;
    color: #fff;
}

.nav-step ul.navbar-nav li {
    border-right: 1px solid #80002d;
    border-bottom: 1px solid #80002d;
}

.nav-step ul.navbar-nav li:first-child {
    border-left: 1px solid #80002d;
}

.nav-step ul.navbar-nav li a, .nav-step ul.navbar-nav li a:hover {
    color: inherit;
}

.nav-step ul.navbar-nav li.active a, .nav-step ul.navbar-nav li.active a:hover {
    background: #fff;
    color: #80002d;
}

.nav-step ul.navbar-nav li.active {
    border-bottom: 1px solid #fff;
}

.nav-step ul.navbar-nav li a::before {
    display: inline-block;
    border: 2px solid;
    box-sizing: content-box;
    border-radius: 50%;
    counter-increment: steps;
    content: counter(steps);
    margin-right: 5px;
    line-height: 16px;
    height: 20px;
    width: 20px;
    text-align: center;
}

.nav-step ul.navbar-nav li.disabled a, .nav-step ul.navbar-nav li.disabled a:hover {
    color: #9a4b58;
    background: #d7afb6;
    opacity: 0.9;
}

#drLignes .col-lg-1, #drLignes .col-lg-10, #drLignes .col-lg-11, #drLignes .col-lg-12, #drLignes .col-lg-2, #drLignes .col-lg-3, #drLignes .col-lg-4, #drLignes .col-lg-5, #drLignes .col-lg-6, #drLignes .col-lg-7, #drLignes .col-lg-8, #drLignes .col-lg-9, #drLignes .col-md-1, #drLignes .col-md-10, #drLignes .col-md-11, #drLignes .col-md-12, #drLignes .col-md-2, #drLignes .col-md-3, #drLignes .col-md-4, #drLignes .col-md-5, #drLignes .col-md-6, #drLignes .col-md-7, #drLignes .col-md-8, #drLignes .col-md-9, #drLignes .col-sm-1, #drLignes .col-sm-10, #drLignes .col-sm-11, #drLignes .col-sm-12, #drLignes .col-sm-2, #drLignes .col-sm-3, #drLignes .col-sm-4, #drLignes .col-sm-5, #drLignes .col-sm-6, #drLignes .col-sm-7, #drLignes .col-sm-8, #drLignes .col-sm-9, #drLignes .col-xs-1, #drLignes .col-xs-10, #drLignes .col-xs-11, #drLignes .col-xs-12, #drLignes .col-xs-2, #drLignes .col-xs-3, #drLignes .col-xs-4, #drLignes .col-xs-5, #drLignes .col-xs-6, #drLignes .col-xs-7, #drLignes .col-xs-8, #drLignes .col-xs-9 {
	padding-right: 2px !important;
	padding-left: 2px !important;
}

#drLignes .form-control, #drLignes .select2-search-field input, #drLignes .select2-container .select2-choice > .select2-chosen {
	padding-right: 5px !important;
	padding-left: 5px !important;
}
