.nav-step {
    counter-reset: steps;
    font-size: 15px;
    border-bottom: 1px solid #dbd3c8 !important;
    background-color: #fff;
}

.nav-step ul.navbar-nav li a::before {
    display: inline-block;
    border: 2px solid;
    box-sizing: content-box;
    border-radius: 50%;
    counter-increment: steps;
    content: counter(steps);
    margin-right: 8px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 14px;
}

#etapes_degustation .nav-step ul.navbar-nav li a::before {
    display: block;
    margin: 0 auto 8px auto;
}

#etapes_degustation .nav-step ul.navbar-nav li a {
    padding-right: 8px;
    padding-left: 8px;
}

.nav-step ul.navbar-nav li {
    border-top: 1px solid #dbd3c8;
    border-right: 1px solid #dbd3c8;
}

.nav-step ul.navbar-nav li:first-child {
    border-left: 1px solid #dbd3c8;
}
