#footer {
    margin-top: 20px;
}

.page-header {
    margin-top: 20px;
}

body {
  background: url('../images/bg/bg_ventoux.jpg') 50% 0 no-repeat fixed;
    background-size: auto;
  background-size: cover;
}

#header header {
  background-color: #ffffff;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0px 0;
  position: relative;
}
#header .container {
    background-color: #ffffff;
}

#header .header-top {
    margin-bottom: 20px;
}

#header .container {
    background: #ffffff;
}

#header .header-top .container {
    background: #fff;
}

#content {
  background: #fff;
  border-top: 4px solid #cc3399;
}

.navbar {
    margin-bottom: 0px !important;
    border: 0px !important;
}

#header h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}
#content {
    padding-bottom: 15px;
    min-height: 650px;
}

.breadcrumb {
    margin-top: 7px;
    padding-left: 0;
    padding-bottom: 0;
}

.nav-step {
    counter-reset: steps;
    font-size: 15px;
    border-bottom: 1px solid #dbd3c8 !important;
    background-color: #fff;
}

.nav-step ul.navbar-nav li a::before {
    display: inline-block;
    border: 2px solid;
    box-sizing: content-box;
    border-radius: 50%;
    counter-increment: steps;
    content: counter(steps);
    margin-right: 8px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 14px;
}

#etapes_degustation .nav-step ul.navbar-nav li a::before {
    display: block;
    margin: 0 auto 8px auto;
}

#etapes_degustation .nav-step ul.navbar-nav li a {
    padding-right: 8px;
    padding-left: 8px;
}

.nav-step ul.navbar-nav li {
    border-top: 1px solid #dbd3c8;
    border-right: 1px solid #dbd3c8;
}

.nav-step ul.navbar-nav li:first-child {
    border-left: 1px solid #dbd3c8;
}

.list-group-item.active-bordered {
    border-left: 6px solid #cc3399 !important;
}

.panel-primary-bordered-right {
    border-right: 6px solid #cc3399;
}
