.list-group-item.active-bordered {
    border-left: 6px solid #337ab7 !important;
}

.panel-primary-bordered-right {
    border-right: 6px solid #337ab7;
}

#footer {
    margin-top: 20px;
}

.page-header {
    margin-top: 20px;
}

body {
    background: #fafafa url('/images/bg/bg_igp.png');
    background-position: center;
}

#menu_navigation {
    background: #fff;
    border: 0;
    margin-bottom: 0;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
}

#menu_navigation a {
    color: #555;
}

#menu_navigation li.active a {
    background: #337ab7;
    color: #fff;
    border-radius: 6px;
}

.nav-step {
    border-radius: 6px;
    background: #fff;
    background: #f8f8f8;
}

.nav-step .navbar-nav li:first-child a, .nav-step .navbar-nav li:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.nav-step .navbar-nav li {
    background: #fff;
}

.nav-step .navbar-nav li.visited a, .nav-step .navbar-nav li.visited a:hover,
.nav-step .navbar-nav li.visited.disabled a:hover {
    color: #444;
}

.nav-step .navbar-nav li.visited a:hover {
    color: #000;
}

.nav-step .navbar-nav li.active a, .nav-step .navbar-nav li.active a:hover {
    background: #337ab7;
    color: #fff;
}

#header header {
  background-color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0;
  padding: 0px 0;
  position: relative;
}
#header .container {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
}

#header .header-top {
    margin-bottom: 5px;
    margin-top: 5px;
}

#header .header-top .container {
    background: #fff;
}

#content {
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
    margin-top: 10px;
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.breadcrumb {
    background: #fafafa;
    border-radius: 4px;
}

.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.list-group-item:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn {
    border-radius: 4px;
}

.nav-step ul.navbar-nav li a::before {
  border: 1px solid;
  line-height: 21px;
  font-size: 12px;
}

.panel {
    border-radius: 4px;
}

.well {
    border-radius: 4px;
}

.alert {
    border-radius: 4px;
}

#map {
    border-radius: 4px;
}
