body {
    background: #eadfcf;
}

#header {
    background: url(../images/bg/bg_rhone.jpg) #fff;
}

#menu_navigation .container {
    padding-left: 0;
    padding-right: 0;
}

#menu_navigation ul.navbar-nav li a {
    font-size: 17px;
    color: #7f0048;
}

#menu_navigation ul.navbar-nav li#nav_item_operateur.disabled {
    opacity: 0.3;
}

#menu_navigation ul.navbar-nav li.active a {
    background: #fff !important;
    border-bottom: 4px solid #7f0048;
}

a, .btn-link {
    color: #7f0048;
}

a:hover {
    color: #802847;
}

#header .container {
    padding: 0;
}

#content {
    background: #fff;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 2px;
}

#menu_navigation {
    background: #fff;
}

.page-header {
    margin-top: 15px;
}

h2 {
    font-size: 26px;
}

h2, h3 {
    margin-top: 0px;
}

h3 {
    font-size: 22px;
}

.page-header h2 {
    margin-bottom: 0px;
}

.breadcrumb {
    background: #fdf9fa;
}

.btn-primary {
    background: #7f0048;
    border-color: #7f0048;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #66003a;
    border-color: #66003a;
}
.panel-primary {
    border-color: #7f0048;
}
.panel-primary .panel-heading {
    border-color: #7f0048;
    background: #7f0048;
}

.nav-step {
    background: #fff;
    border: none;
    counter-reset: steps;
    border-bottom: 1px solid #7f0048;
    font-size: 14px;
}

.nav-step ul.navbar-nav li, .nav-step ul.navbar-nav li:hover {
    background: #a46187;
    border-top: 1px solid #7f0048;
    position: relative;
    top: 1px;
    color: #fff;
}

.nav-step ul.navbar-nav li {
    border-right: 1px solid #7f0048;
    border-bottom: 1px solid #7f0048;
}

.nav-step ul.navbar-nav li:first-child {
    border-left: 1px solid #7f0048;
}

.nav-step ul.navbar-nav li a, .nav-step ul.navbar-nav li a:hover {
    color: inherit;
}


.nav-step ul.navbar-nav li.active a, .nav-step ul.navbar-nav li.active a:hover {
    background: #fff;
    color: #6b453c;
}

.nav-step ul.navbar-nav li.active {
    border-bottom: 1px solid #fff;
}

.nav-step ul.navbar-nav li a::before {
    display: inline-block;
    border: 2px solid;
    box-sizing: content-box;
    border-radius: 50%;
    counter-increment: steps;
    content: counter(steps);
    margin-right: 5px;
    line-height: 16px;
    height: 20px;
    width: 20px;
    text-align: center;
}

.nav-step ul.navbar-nav li.disabled a, .nav-step ul.navbar-nav li.disabled a:hover {
    color: #9a5b7f;
    background: #c694b0;
    opacity: 0.9;
}

.versionner {
    outline: 1px dotted #ff0000 !important;
}

.table > tbody > tr > td.vertical-center, table > tbody > tr.vertical-center > td {
    vertical-align: middle;
}
