bin/config.inc
bin/config_*.inc
bin/config_extra.inc
config/app.yml
config/databases.yml
config/databases.*.yml
config/properties.ini
web/declaration_dev.php
web/*_*.php
!web/*_dev.php
cache/[^.]*
log/[^.]*
data/*
.~*
!data/configuration/
!data/comptes/
!data/elk
test/output
test_ava/output
web/export
web/export_data
web/statuts/xml
web/statuts/index.php
