bin/config.inc
bin/config_extra.inc
config/app.yml
config/databases.yml
config/properties.ini
apps/*/config/factories.yml
web/declaration_dev.php
web/*_*.php
cache/[^.]*
log/[^.]*
data/*
.~*
!data/configuration/
!data/elk
test/output
test_ava/output
web/export
web/export_data
web/statuts/xml
web/statuts/index.php
web/export*
