all:
  routing_context_production_host: declaration.ava-aoc.fr
  auth_mode: NO_CAS #NO_CAS, CAS, NO_AUTH
  cas:
    domain: login.cas
    port: 443
    path: cas
    url : "https://login.cas:443/cas"
  ac_exception_notifier:
    enabled: true
    email:
      from: "email@email.com"
      from_name: "acExceptionNotifierPlugin"
      to: ["email@email.com"]
      subject: "[Nom] Erreur 500 : %title%"
  email_plugin:
    from_adresse: email@email.fr
    from_name: "From name"
    reply_to_adresse: "email@email.fr"
    reply_to_name: "Reply to name"
    to_notification: ["email@email.fr"]
  url:
    civa: "https://url_civa"
    compte_mot_de_passe: "https://url_compte_civa_pour_modifier_mdp"
    compte_creation: "http://url_compte_creation"
    compte_mot_de_passe_oublie: "http://url_compte_mot_de_pass_oublie"
    dr_recuperation: "http://url_autorisation/"
  dates_ouverture:
    drev:
      debut: "YYYY-mm-dd"
      fin: "YYYY-mm-dd"
    drevmarc:
      debut: "YYYY-mm-dd"
      fin: "YYYY-mm-dd"
    parcellaire:
      debut: "YYYY-mm-dd"
      fin: "YYYY-mm-dd"
    parcellaire_cremant:
      debut: "YYYY-mm-dd"
      fin: "YYYY-mm-dd"
    tirage:
      debut: "YYYY-mm-dd"
      fin: "YYYY-mm-dd"
  osm:
    url_search: "http://Url_osm/search"
    return_format: "json"
  facture:
    emetteur:
      ALSACE:
        adresse: "12 avenue de la Foire aux Vins - B.P. 91225"
        code_postal: "68012"
        ville: "COLMAR Cedex"
        service_facturation: "Maison des Vins d'Alsace"
        telephone: "Téléphone 03 89 20 16 50 - Télécopie 03 89 20 16 60"
        email: "info@ava-aoc.fr"
  degustation_courrier:
    responsable: "Responsable technique"
    visitetel: "00.00.00.00.00"
    visiteorga: "Nom Prenom"
    adresse:
      raison_sociale: "Raison sociale"
      adresse: "Adresse"
      cp_ville: "CP Ville"
      telephone: "Téléphone 00 00 00 00 00 - Fax 01 01 01 01 01"
      email: "Email : mail@mailer.fr"
  contenances:
    bouteilles:
      "75 cl": 75
      "37,5 cl": 37.5
      "50 cl": 50
      "100 cl": 100
      "150 cl": 150
      "300 cl": 300
  scrapy:
    documents: "/.../.../prodouane_scrapy/documents"
